.container__shoppingCart{
    & #panierVide{
        display: none;
    }
    & .bloc__panier{
        display: none;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 50px;
        & .card__monPanier{
            background-color: rgba($color: #333940, $alpha: 0.75);
            border-radius: 3px;
            width: 55%;
            padding: 20px;
            & .monPanier__h2{
                color: white;
                border-bottom: white 2px solid;
                padding-bottom: 7px;
                font-weight: 200;
            }
            & #contenuPanier{
                margin-bottom: 30px;
                & .monPanier__liste{
                    display: flex;
                    margin-top: 30px;
                    & .liste__img{
                        width: 100%;
                        margin-right: 15px;
                        & .liste__img--img{
                            width: 100%;
                        }
                    }
                    & .liste__infosProduits{
                        color: white;
                        
                        & .infosProduits__nom{
                            font-size: 19px;
                        }
                        & .infosProduits__description{
                            font-size: 12px;
                        }
                        & .infosProduits__bloc_prix{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            & .infosProduits__prix{
                            font-size: 25px;
                            font-weight: 500;
                            margin-bottom: 0px;
                            }
                            & .btn__supprimer{
                                background-color: transparent;
                                border: transparent;
                            }
                            & .picto__supprimer{
                                font-size: 18px;
                                color: white;
                            }
                        }
                        
                    }
                }
            }
            & #btn_viderPanier{
                margin-top: 40px;
                width: 60%;
                margin: auto;
                //display: none;
            }
            & .display {
                //display: block !important;
            }
        }
        & .card__total{
            background-color: rgba($color: #333940, $alpha: 0.75);
            border-radius: 3px;
            width: 35%;
            padding: 20px;
            color: white;
            height: fit-content;
            & .total__h2{
                border-bottom: white 2px solid;
                padding-bottom: 7px;
                font-weight: 200;
            }
            & .total__sousTotal{
                display: flex;
                margin-top: 30px;
                justify-content: space-between;
            }
            & .total__fdl{
                display: flex;
                justify-content: space-between;
                border-bottom: solid 0.5px white;
            }
            & .total__total{
                display: flex;
                justify-content: space-between;
                margin-top: 30px; 
                margin-bottom: 15px;
                font-weight: 500;
                font-size: 20px;
            }
            & .lien__validationPanier{
                justify-content: center;
                & .btn__validationPanier{
                background: $couleur_btn;
                border-color: $couleur_btn;
                &:hover {
                    background: $couleur_btn--hover;
                    border-color: $couleur_btn--hover;
                }
            }
            }
            
        }

    }
    & .bloc__formulaire{
        display: none;
        background-color: rgba($color: #333940, $alpha: 0.75);
        border-radius: 3px;
        padding: 20px;
        margin-bottom: 50px;
        color: white;
        & .formulaire__h2{
            border-bottom: white 2px solid;
            padding-bottom: 7px;
            font-weight: 200;
        }
        & .formulaire__formulaire{
            & .formulaire__case{
                margin-top: 30px;
            }
            & .formulaire__case--btn{
                text-align: center;
                & .formulaire__btn{
                    margin-top: 45px;
                    margin-bottom: 20px;
                    background: $couleur_btn;
                    border-color: $couleur_btn;
                    &:hover {
                        background: $couleur_btn--hover;
                        border-color: $couleur_btn--hover;
                    }
                }
            }
        }
        
    }
}

#confirmationCommande{
    display: none;
}


.hidden{
    display: none;
}

.display{
    display: flex !important;
}

.display2{
    display: flex !important;
    justify-content: center;
    color: white;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.display3{
    display: block !important;
}

