.li-footer{
    margin-top: 30px;
    color: white;
}

.a-footer{
    color: white;
    &:hover{
        color: $couleur_btn--hover;
    }
}

.picto-rs{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 22px;
    color: white;
    &:hover{
        color: $couleur_btn--hover;
    }
}