.logo {
    padding: 0px;
}

#navbarContent {
    justify-content: space-between;
  }
  
.picto-my-account{
    margin-right: 12px;
  }

.menu{
    align-items: center;
  }

@media screen and (max-width: 768px){
  #navbarContent{
    & .navbar-nav{
      align-items: flex-start;
    }
  }
  .d-flex{
    margin-bottom: 15px;
  }
}