
body{
  background: $gradient;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn-primary{
  background: $couleur_btn;
  border-color: $couleur_btn;
  &:hover {
    background: $couleur_btn--hover;
    border-color: $couleur_btn--hover;
  }
}

main{
  flex-grow: 2;
}