$gradient : linear-gradient(144deg, rgba(223,135,26,1) 4%, rgba(165,104,187,1) 43%, rgba(143,91,254,1) 92%);
$couleur_primaire : #975FE7;
$couleur_primaire--darken : #7525E7;
$couleur_secondaire : #333940;
$couleur_secondaire--lighten : #50555B;
$couleur_btn : #989B9F;
$couleur_btn--hover : #CBCECF;